@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:100,300,400,500,700');
body {
  margin: 0;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  height: 1070px;
  overflow: hidden;
}
.container .header-bg-text {
  position: absolute;
  top: 0px;
  left: 60px;
  opacity: 0;
}
.container .content-header {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0px;
}
.container .content-header .nav {
  width: 100%;
}
.container .content-header .nav li {
  display: inline-block;
  color: white;
  list-style-type: none;
}
.container .content-header .nav .logo {
  width: 21.5%;
  position: relative;
  top: -10px;
  padding-left: 1.1%;
}
.container .content-header .nav .contacts {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
  width: 41.5%;
  line-height: 21px;
  letter-spacing: 1.2px;
}
.container .content-header .nav .contacts p:first-child {
  margin-bottom: 28px;
}
.container .content-header .nav .contacts p:last-child {
  position: relative;
  top: -20px;
}
.container .content-header .nav .search {
  width: 26.7%;
}
.container .content-header .nav .search input {
  width: 200px;
  height: 30px;
  background: none!important;
  -moz-background: none!important;
  -webkit-background: none!important;
  -ms-background: none!important;
  -o-background: none!important;
  border: none;
  border-bottom: 1px solid white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: white;
  outline: none!important;
  position: relative;
  top: -38px;
  padding-bottom: 6px;
}
.container .content-header .nav .change-language {
  width: 125px;
  height: 125px;
  background: black;
  position: relative;
  top: -84px;
  opacity: 0;
}
.container .content-header .nav .change-language select {
  background: none !important;
  -moz-background: none !important;
  -webkit-background: none !important;
  -ms-background: none !important;
  -o-background: none !important;
  color: white;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  border: none !important;
  -moz-border: none !important;
  -webkit-border: none !important;
  -ms-border: none !important;
  -o-border: none !important;
  outline: none !important;
  position: relative;
  top: 49px;
  left: 38px;
}
.container .content-header .slider {
  max-width: 79%;
  position: relative;
}
.container .content-header .slider #slider {
  width: 70%;
  float: right;
  background: none;
  margin-top: -46px;
  border: none;
}
.container .content-header .slider #slider .slides .slide-li .info-enclosed {
  max-width: 548px;
  width: 100%;
  margin-left: 44.2%;
}
.container .content-header .slider #slider .slides .slide-li .info-enclosed li {
  margin-left: 1px;
  width: 100%;
}
.container .content-header .slider #slider .slides .slide-li .info-enclosed li .enclosed-ul {
  width: 232px;
  height: 274px;
  border: 2px solid white;
  opacity: 1;
  animation-name: opacity;
  animation-duration: 1.3s;
}
.container .content-header .slider #slider .slides .slide-li .info-enclosed li .enclosed-ul li:first-child {
  margin-top: 58px;
}
.container .content-header .slider #slider .slides .slide-li .info-enclosed li .enclosed-ul li {
  margin-left: 7px;
  list-style-type: none;
  list-style-image: url('../img/check.png');
}
.container .content-header .slider #slider .slides .slide-li .info-enclosed li .enclosed-ul li p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  width: 274px;
  color: white;
  padding-bottom: 4px;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container .content-header .slider #slider .slides .slide-li .info-enclosed .image-li {
  margin-left: 0;
  float: right;
  margin-top: -2px;
}
.container .content-header .slider #slider .slides .slide-li .info-enclosed .image-li .image-slider {
  float: right;
  background-image: url('../img/image-slider.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 274px;
  height: 274px;
  border: 2px solid white;
  margin-right: -6px;
  opacity: 1;
  animation-name: opacity;
  animation-duration: 0.9s;
}
.container .content-header .slider #slider .slides .slide-li .sub-title {
  clear: both;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #b7c24a;
  position: relative;
  top: -74px;
  margin-left: -7px;
  animation-name: opacity;
  animation-duration: 1.8s;
}
.container .content-header .slider #slider .slides .slide-li h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 55px;
  font-weight: 700;
  color: white;
  position: relative;
  top: -104px;
  margin-left: -7px;
  animation-name: opacity;
  animation-duration: 1.8s;
}
.container .content-header .slider #slider .slides .slide-li .read-more-button {
  text-align: center;
  line-height: 60px;
  display: block;
  width: 274px;
  height: 60px;
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  border: 2px solid white;
  transition: 0.3s ease-in-out;
  margin-top: -100px;
  animation-name: opacity;
  animation-duration: 2s;
  margin-left: -6px;
}
.container .content-header .slider #slider .slides .slide-li .read-more-button:hover {
  border-color: #b7c24a;
  color: #b7c24a;
}
.container .content-header .slider #slider .slides .slide-4 .image-slider {
  float: right;
  background-image: url('../img/contact-us-support.png') !important;
  background-repeat: no-repeat;
  background-size: cover;
  width: 274px;
  height: 274px;
}
.container .content-header .slider #carousel {
  margin-top: 30px;
  margin-left: 5.1%;
  width: 29%;
  background: none;
  border: none;
}
.container .content-header .slider #carousel .slides li {
  display: block;
  float: none!important;
  line-height: 67px;
}
.container .content-header .slider #carousel .flex-direction-nav {
  display: none!important;
}
.container .content-header .slider .flex-direction-nav {
  display: none!important;
}
.container .content-header .slider .flexslider-controls .flex-control-nav {
  width: 200px;
  margin-left: 3.3%;
  position: relative;
  top: 20px;
}
.container .content-header .slider .flexslider-controls .flex-control-nav .flex-active p {
  border: 2px solid white;
  color: #b7c24a;
  font-weight: 500;
}
.container .content-header .slider .flexslider-controls .flex-control-nav .flex-active span {
  opacity: 1;
}
.container .content-header .slider .flexslider-controls .flex-control-nav li {
  text-align: left;
  width: 274px;
  line-height: 49px;
}
.container .content-header .slider .flexslider-controls .flex-control-nav li p {
  width: 100%;
  height: 45px;
  padding-left: 20px;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  transition: 0.18s ease-in-out;
}
.container .content-header .slider .flexslider-controls .flex-control-nav li p span {
  opacity: 0;
  transition: 0.4s ease-in-out;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
  color: white!important;
}
.container .content-header .slider .flexslider-controls .flex-control-nav li p:before {
  content: '— ';
}
.container .content-header .slider .flexslider-controls .flex-control-nav li p:hover {
  font-weight: 500;
  color: #b7c24a;
  border: 2px solid white;
}
.container .content-header .slider .flexslider-controls .flex-control-nav li p:hover span {
  opacity: 1;
}
.container .content-header .slider .flexslider-controls .flex-control-nav li p:hover {
  opacity: 1;
}
canvas {
  max-width: 1920px;
}
.section-1 {
  max-width: 1920px;
  margin: auto;
  position: relative;
}
.section-1:after {
  content: url('../img/section-1(bg-text).png');
  position: absolute;
  top: 405px;
  right: 0;
  opacity: 0.21;
}
.section-1:before {
  content: url('../img/section-1(bg-image).png');
  position: absolute;
  top: 782px;
  left: 172px;
}
.section-1 .container-content {
  max-width: 1090px;
  margin: auto;
  padding-top: 124px;
}
.section-1 .container-content .top {
  position: relative;
}
.section-1 .container-content .top .text-box {
  width: 544px;
  display: inline-block;
  float: left;
  position: relative;
}
.section-1 .container-content .top .text-box h2 {
  font-size: 55px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #6c6e70;
  line-height: 60px;
  max-width: 500px;
  margin: 0;
  text-transform: uppercase;
  padding-left: 32px;
}
.section-1 .container-content .top .text-box p {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  max-width: 474px;
  padding-left: 33px;
  margin-top: 32px;
  line-height: 30px;
  letter-spacing: -0.04em;
  margin-bottom: 2px;
}
.section-1 .container-content .top .text-box ul {
  list-style-image: url('../img/check-black.png');
  margin-bottom: 0;
  padding-left: 60px;
}
.section-1 .container-content .top .text-box ul li {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  max-width: 500px;
  line-height: 30px;
  padding-bottom: 10px;
  letter-spacing: -0.02em;
}
.section-1 .container-content .top .image-block img {
  width: 543px;
  display: inline-block;
  position: relative;
  top: 18px;
  transition: 0.3s ease-in-out;
}
.section-1 .container-content .top .image-block:before {
  content: '';
  position: absolute;
  top: 18px;
  width: 543px;
  height: 429px;
  background: linear-gradient(to right, #b7c24a, rgba(255, 255, 255, 0.01));
  z-index: 1;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.section-1 .container-content .top .image-block:hover img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url(desaturate.svg#greyscale);
  filter: gray;
  -webkit-filter: grayscale(1);
}
.section-1 .container-content .top .image-block:hover:before {
  opacity: 1;
}
.section-1 .container-content .bottom {
  margin-top: -4px;
  margin-left: -10px;
}
.section-1 .container-content .bottom .text-box {
  max-width: 531px;
  display: inline-block;
}
.section-1 .container-content .bottom .text-box ul {
  list-style-image: url('../img/check-black.png');
  margin-top: 47px;
  margin-left: 13px;
}
.section-1 .container-content .bottom .text-box ul li {
  font-size: 20px;
  line-height: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  max-width: 467px;
  letter-spacing: -0.02em;
}
.section-1 .container-content .bottom .image-block {
  position: relative;
  float: left;
}
.section-1 .container-content .bottom .image-block img {
  display: inline-block;
  float: left;
  margin-left: 12px;
  margin-top: 16px;
}
.section-1 .container-content .bottom .image-block:before {
  content: '';
  position: absolute;
  top: 17px;
  left: 12px;
  width: 543px;
  height: 440px;
  background: linear-gradient(to right, #b7c24a, rgba(255, 255, 255, 0.01));
  z-index: 1;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.section-1 .container-content .bottom .image-block:hover img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url(desaturate.svg#greyscale);
  filter: gray;
  -webkit-filter: grayscale(1);
}
.section-1 .container-content .bottom .image-block:hover:before {
  opacity: 1;
}
.section-2 {
  max-width: 1920px;
  margin: auto;
  margin-top: 249px;
  position: relative;
  clear: both;
  border-top: 1px solid #d9d9d9;
}
.section-2 .content-container {
  max-width: 1469px;
  width: 100%;
  float: right;
  position: relative;
}
.section-2 .content-container::before {
  content: url('../img/section-2(bg-text).png');
  position: absolute;
  top: 386px;
  left: -280px;
  opacity: 0.15;
}
.section-2 .content-container h2 {
  font-size: 55px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #6c6e70;
  text-transform: uppercase;
  max-width: 471px;
  line-height: 60px;
  position: relative;
  top: -155px;
  left: -4px;
}
.section-2 .content-container .box-images {
  width: 99%;
  margin-top: -160px;
}
.section-2 .content-container .box-images .cont {
  width: 100%;
  height: 99.2%;
  position: absolute;
  color: white;
  opacity: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.67);
  transition: 0.3s ease-in-out;
}
.section-2 .content-container .box-images .cont p {
  max-width: 190px;
  font-size: 1.12em;
  line-height: 1.8em;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: auto;
  padding: 3.05em;
  transition: 0.3s ease-in-out;
}
.section-2 .content-container .box-images .cont p:first-child {
  color: #b7c24a;
  padding: 1.61em!important;
}
.section-2 .content-container .box-images .cont a {
  line-height: 10px;
  width: 6.3em;
  height: 0.6em;
  margin: auto;
  display: block;
  margin-top: 4%;
  margin-left: 18%;
  margin-bottom: 18%;
  background: #b7c24a;
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 1.12em;
  padding: 1.375em 2.3em;
  text-decoration: none;
}
.section-2 .content-container .box-images .cont:hover {
  opacity: 1;
}
.section-2 .content-container .box-images .box {
  display: inline-block;
  width: 20%;
  margin: -3px;
  position: relative;
  transition: 0.5s ease-in-out;
}
.section-2 .content-container .box-images .box img {
  width: 100%;
}
.section-pass-0 {
  max-width: 1920px;
  margin: auto;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  height: 181px;
  clear: both;
}
.section-pass {
  max-width: 1920px;
  margin: auto;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  clear: both;
}
.section-pass .content {
  max-width: 1469px;
  width: 100%;
  margin: auto;
  margin-right: 0;
}
.section-pass .content h2 {
  font-size: 55px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #6c6e70;
  text-transform: uppercase;
  max-width: 471px;
  line-height: 60px;
  margin: 0;
  margin-top: -7px;
  margin-left: -4px;
}
.section-pass-2 {
  max-width: 1920px;
  margin: auto;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  clear: both;
}
.section-pass-2 .content {
  max-width: 1469px;
  width: 100%;
  margin: auto;
  margin-right: 0;
}
.section-pass-2 .content p {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  max-width: 471px;
  line-height: 60px;
  margin: 0;
  letter-spacing: -0.04em;
  margin-left: -4px;
}
.section-3 {
  max-width: 1920px;
  margin: auto;
  border-bottom: 1px solid #d9d9d9;
}
.section-3 .content-box {
  max-width: 1088px;
  margin: auto;
  position: relative;
}
.section-3 .content-box::before {
  content: url('../img/section-3(bg-image).png');
  position: absolute;
  top: -252px;
  left: 322px;
  z-index: -1;
}
.section-3 .content-box .box {
  display: inline-block;
  width: 32.2%;
  margin-left: 1.22%;
  background: #f0f0f0;
}
.section-3 .content-box .box img {
  width: 100%;
}
.section-3 .content-box .box p {
  max-width: 221px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 30px;
  padding: 14px 27px;
}
.section-3 .content-box .box ul {
  list-style-image: url('../img/check-black.png');
  margin-top: -11px;
  padding-left: 54px;
}
.section-3 .content-box .box ul li {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 30px;
  padding-bottom: 31px;
}
.section-3 .content-box .box a {
  display: block;
  width: 200px;
  height: 60px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-sixe: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  margin: auto;
  background: #b7c24a;
  margin-top: -9px;
  margin-left: 69px;
  margin-bottom: 40px;
}
.section-3 .content-box .box:first-child {
  margin-left: 0;
}
@media screen and (max-width: 1485px) {
  .section-3 .content-box::before {
    left: 13% !important;
  }
  .section-2 .content-container h2,
  .section-pass .content h2,
  .section-pass-2 .content p {
    margin-left: 20px;
  }
}
.now-work {
  padding-top: 188px;
  margin-bottom: -12px;
}
.now-work .now-work-p2 {
  width: 250px;
}
.run-soon {
  border-top: none;
  padding-bottom: 14px;
}
.section-4 {
  padding-bottom: 150px;
  position: relative;
}
.section-4::after {
  content: url("../img/section-4(bg-text).png");
  position: absolute;
  top: 30px;
  right: 0;
  opacity: 0.15;
}
.section-4 p {
  margin-top: 13px;
}
.section-4 .content-box::before {
  content: '' !important;
}
footer {
  max-width: 1920px;
  margin: auto;
  background: black;
  padding-top: 45px;
  padding-bottom: 50px;
}
footer .footer-content {
  max-width: 1030px;
  margin: auto;
  color: white;
}
footer .footer-content img {
  margin-bottom: 12px;
}
footer .footer-content ul {
  width: 100%;
  list-style-type: none;
  border-top: 1px solid white;
  padding: 0;
}
footer .footer-content ul li {
  display: inline-block;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 24px;
  padding-left: 49px;
}
footer .footer-content ul li:first-child {
  padding-left: 0;
}
footer .footer-content ul li:last-child {
  position: relative;
  top: 16px;
}
@media screen and (max-width: 1490px) {
  .container .content-header .nav .contacts {
    width: 24.5%;
  }
  .container .content-header .nav .logo {
    width: 31.5%;
  }
  .container .content-header .nav .search {
    width: 26.7%;
  }
}
